body{  
     display: grid;
     align-items: center;
     justify-content: center;
     background-color:#7bba8c;
}
 h1 {
     margin-top: 5px;
     margin-left: 25px;
     margin-bottom: 1px;
     font-family: serif, cursive;
     text-shadow: 5px 0 #fff;
     font-size: 8rem;
     color: rgb(9, 73, 70);
}
 .board {
     width: 610px;
     height:610px;
     margin-left: 50px;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-content: center;
     justify-items: center;
     align-items: center;
}
 .cell {
     height:175px;
     width:175px;
     text-align: center;
     border: 2px solid #dae1e7;
     background-color:rgb(9, 73, 70);
     font-size: 160px;
     color: #dae1e7;
     font-family: sans-serif;
     font-weight: 100;
}
 .cell:first-child, .cell:nth-child(2), .cell:nth-child(3) {
     border-top: none;
}
 .cell:nth-child(3n + 1) {
     border-left: none;
}
 .cell:nth-child(3n + 3) {
     border-right: none;
}
 .cell:last-child, .cell:nth-child(8), .cell:nth-child(7) {
     border-bottom: none;
}
 .zero {
     color: #7bba8c;
}
 .result {
     display: none;
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: rgba(0, 0, 0, .9);
     justify-content: center;
     align-items: center;
     color: white;
     font-size: 5rem;
     flex-direction: column;
}
 .result button {
     font-size: 3rem;
     background-color: white;
     border: 1px solid black;
     padding: .25em .5em;
     cursor: pointer;
}
 .result button:hover {
     background-color: black;
     color: white;
     border-color: white;
}
 .result.show {
     display: flex;
}